*.pyc
*.png
*.pdf
*.csv
*.dot
*.DS_Store
*history
/datamart_testing/submitRequest.py~
/datamart_testing/api_key
/Incentivization\ Script/notes
/Incentivization\ Script/Y3\ Source/api_key
/Incentivization\ Script/Y3\ Source/api_key_test
/datamart_testing/userpass
/Incentivization\ Script/userpass
/Incentivization\ Script/giftcards
/datamart_testing/test.sh
/incentivizations_phase2/config/config
/incentivizations_phase2/config/userpass
/incentivizations_phase2/config/userpass.txt
